.passwordChangeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.passwordsInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}